body, .row, ul, li {
    margin: 0;
    padding: 0;
  }
  body {
    background: gainsboro;
  }
  body li {
    list-style: none;
  }
  a, a:hover, a:visited {
    text-decoration: none;
  }


  /* HEADER */
  
  header {
      background-color: #fff;
      font-weight: 600;
      font-size: 120%;
      padding: 15px 0;
  }
  header .title {
      padding-top: 25px;
      color: #999;
  }

  #search {
    background: gainsboro;
  }

  /* Menu */

  #menu {
    background-color: #5a5a5a;
  }
  #menu .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  #menu .navbar-nav .nav-link {
    color: #fff;
    background: rgba(199, 199, 199, 0.3);
    padding: 15px 50px;
    font-weight: 600;
    margin-right: 15px;
  }

  #menu .navbar-nav .nav-link:hover {
    background-color : #F08E39;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
  }
