@media only screen and (max-width: 992px) {
    #menu .navbar-nav .nav-link {
        padding: 10px 5px;
        margin-right: 5px;
    }
}


@media only screen and (max-width: 768px) {
    #menu .navbar-nav .nav-link {
        padding: 10px 5px;
        margin-right: 1px;
        font-size: 75%;
    }
}



@media only screen and (max-width: 576px) {
    body {
        background-color: blue;
    }
}


